body{
    background-image: url('https://efacility.jamb.gov.ng/assets/admin/pages/media/bg/4.jpg');
    background-size: 1300px;
}

.image {
    display: block;
    margin-left: auto;
    margin-top: auto;
    width: 59%;
}

.header {
    display: inline;
    font-size: 12px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    color: rgb(49, 48, 48);
    line-height: 2.5em;
    text-align: left;
}

h1 {
    margin-left: 20px;
}

.login {
    text-align: left;
    width: 300px;
    height: 32px;
    border: none;
}

form {
    border: 3px solid;
    border-radius: 2px;
    text-align: center;
    margin-left: 480px;
    margin-right: 480px;
    height: 220px;
    border-style: outset;
}

.ps, .back {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-left: 20px;
}

button {
    border: none;
    height: 30px;
    background-color: rgb(10, 178, 245);
    color: white;
    width: 120px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(7, 134, 184);
    color: #F8F0E3;
}

footer {
    text-align: center;
    color: green;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}